body { 
  margin: 0;
  height: 900px;
  display: flex;
  align-items: center;
  background-color: bisque;
  justify-content: center;

}
.container{
  position: relative;
  width: 600px;
  height: 600px;
  background-color: azure;

}
.box{
  position: absolute;
  width: 120px;
  height: 120px;

}
.pink{
  background-color: pink;
  top: 0;
left: 0;
animation: Pink-box 4s infinite linear

}
.blue{
  background-color: blue;
  top: 0;
  right: 0;
  

  animation: blue-box 4s infinite linear
}
.brown {
  background-color: brown;
   left: 0;
  bottom: 0;

  animation: brown-box 4s infinite linear


}
.yellow{
  background-color: yellow;
  bottom: 0;
  right:0;

  animation: yellow-box 4s infinite linear
}
@keyframes Pink-box {
  0%{transform: translate(0,0);}
  25%{transform: translate(400px,0);}
  50%{transform: translate(400px,400px);}
  75%{transform: translate(0,400px);}
  100%{transform:translate(0,0);}


  
}
@keyframes blue-box{
   0%{transform: translate(0,0);}
  25%{transform: translate(0,400p);}
  50%{transform: translate(-400px,400px);}
  75%{transform: translate(-400px,0);}
  100%{ransform:translate(0,0)}

}
@keyframes brown-box{
   0%{transform: translate(0,0);}
  25%{transform: translate(0,-400px);}
  50%{transform: translate(400px,-400px);}
  75%{transform: translate(400px,0);}
  100%{ransform:translate(0,0)}

}

  
@keyframes yellow-box{
  
   0%{transform: translate(0,0);}
  25%{transform: translate(400px,0);}
  50%{transform: translate(-400px,400px);}
  75%{transform: translate(0 -400px);}
  100%{ransform:translate(0,0)}
}
  

  

